{% extends "index.html" %}
{% block content %}
        <p><h3>User Name: {{ user.username }}</h3></p>
        <p><h3>User e-mail: {{ user.email }}</h3></p>
        <p><a href="{% url 'send_email' user.id%}"><h3>Send E-mail</h3></a></p>
        <p><a href="{% url 'user_books' user.id%}"> <h3> Show Books </h3></a></p>
        <a href="{% url 'add_book' user.id%}"><input type="submit" value="add new"></a>
        <a href="{% url 'hide_all_books' user.id%}"><input type="submit" value="hide all books"></a>
        <a href="{% url 'show_all_books' user.id%}"><input type="submit" value="show all book"></a>
 {% endblock %}
